{% extends "home/base.html" %}
{% block projects-active %}active{% endblock %}
{% block custom_sources %}
<style>
.highlight {
  background: #dddddd;
  color: #000;
  border-radius: 3px;
}
.correct {
    color: green;
}
.incorrect {
    color: red;
}
</style>
{% endblock %}

{% block body %}
<div class="container">
  <div id="words">
    {% for word in words %}
    <span wordnr="{{ forloop.counter }}" class="">{{word}}</span>
    {% endfor %}
  </div>
  <div id="input-row"> 
    <input type="text" class="form-control" id="inputfield" value=""   spellcheck="false" >

  </div>
</div>

<script>
let all_words = [
    {% for word in words %}"{{word}}", 
    {% endfor %}
];

$( `span[wordnr='1']` ).addClass("highlight")
let text_input = ""
let started = false;
let timer = 60;

function time_finished() {
    let conversion = 60 / timer;
    let wpm = Math.round(text_input.split(' ').length * conversion);

    started = false;
}

$( "#input-row" ).keydown(function(event){
    if ( started == false){
        started = true;
        setTimeout(time_finished , timer * 1000);
        $("input#inputfield").val('');
    }

    else if (event.which == 32 & started == true){
        word_inserted = $("input#inputfield").val();
        text_input = text_input + word_inserted;
        $("input#inputfield").val(''); 
        word_nr = text_input.split(' ').length;

        $( `span[wordnr='${word_nr}']` ).removeClass("highlight")
        $( `span[wordnr='${word_nr + 1}']` ).addClass("highlight")

        if (all_words[word_nr - 1] == word_inserted.trim()){
            $( `span[wordnr='${word_nr}']` ).addClass("correct")
        }else { 
            $( `span[wordnr='${word_nr}']` ).addClass("incorrect")
        }
    }
})
</script>

{% endblock %}

